body {
	padding-top: 70px;
}

.map {
	width: 800px;
	height: 500px;
}

.table {
	width: 600px;	
}

.table > tbody > tr > td {
	vertical-align: middle;
	width: 33.333%;
}

.btn-file {
	position: relative;
	overflow: hidden;
}

.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}
